<!-- templates/cafes.html -->
{% extends 'base.html' %}

{% block title %}Cafes - Cafe Review{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">List of Cafes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for heading in cafes[0] %}
                    <th>{{ heading }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in cafes[1:] %}
                <tr>
                    {% for item in row %}
                        {% if loop.index0 == 1 %}
                            <td><a href="{{ item }}" target="_blank">Maps Link</a></td>
                        {% else %}
                            <td>{{ item }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
